.description {
  color: #5c5c5c;
  font-size: 1.4rem;
  border-top-width: 1px;
  border-top-color: #e8e8e8;
  border-bottom-width: 1px;
  border-bottom-color: #e8e8e8;
  border-style: solid;

  p {
    margin: 1.2rem 0;
  }
}
