.inner {
  display: flex;
  height: 100%;
  width: 100%;

  &__col1 {
    flex-basis: 25%;
    border: 1px solid violet;
    height: 100%;
    border-right: 1px solid rgb(224, 228, 233);
  }

  &__col2 {
    flex-grow: 1;
  }
}