.modal {

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    width: 440px;
    background-color: #fff;
    padding: 24px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 8px;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo__svg {
      overflow: hidden;
      width: 32px;
      margin-right: auto;
      margin-left: auto;
      height: 32px;
      fill: currentColor;
      vertical-align: middle;
    }
  }

  &__title {
    font-style: italic;
    margin-bottom: 36px;
    margin-top: 20px;
    font-size: 2.4rem;
    font-weight: 800;
  }

  &__close {
    background: transparent;
    transition-property: transform;
    transition-duration: .2s;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    color: #e8e8e8;
    border-radius: 50%;
    border-width: 3px;
    border-color: #e8e8e8;
    border-style: solid;


    &:hover {
      transform: rotate(-90deg);
      color: #e0e4e9;
      border-color: #e0e4e9;
    }

    svg {
      overflow: hidden;
      width: 24px;
      padding: 4px;
      height: 24px;
      fill: currentColor;
      vertical-align: middle;
    }
  }

  &__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }

  &__btn {
    width: 26rem;
    min-height: 5.5rem;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .08rem;
    border-radius: 10rem;
    border-style: none;
    box-shadow: 0 0.1rem 0.6rem 0 rgba(0,0,0,.27);
    text-transform: uppercase;
    transition-duration: .2s;

    &:hover {
      background: linear-gradient(262deg, #fd5068, #fd5068);
    }
  }
}

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal {

  &-slide {
    display: none;
  }

  &-slide.is-open {
    display: block;
  }

  &-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  &-slide .modal__container,
  &-slide .modal__overlay {
    will-change: transform;
  }
}

.email__input,
.password__input,
.name__input,
.birth__input,
.gender {
  width: 340px;
  margin: 5px;
  padding: 12px;
  display: inline-block;
  font-size: 2rem;
  letter-spacing: .05em;
  background-color: #f5f7fa;
  border: none;
  border-radius: 4px;
  vertical-align: middle;

  @media (max-width: $screen-tablet) {
    width: 95%;
  }
}
